
{% block head %}
    <link href='http://fonts.googleapis.com/css?family=Noticia+Text' rel='stylesheet' type='text/css'>
    <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/MyAppProjetFinal/css/style.css') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script type="text/javascript" src="{{ asset('bundles/MyAppProjetFinal/js/jquery-v1.7.1.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/MyAppProjetFinal/js/jquery-hover-effect.js') }}"></script>
    <script type="text/javascript">
        //Image Hover
jQuery(document).ready(function(){
jQuery(function() {
	jQuery('ul.da-thumbs > li').hoverdir();
});
});
</script>
{% endblock %}

<div class="wrap">	
  <div class="header">
	<div class="logo">
		<a href="index.html"><img src="{{ asset('bundles/MyAppProjetFinal/images/logo.png') }}" alt=""></a>
	</div>
	<div class="clear"></div>
  </div>
  <div class="banner">
	<div class="lsidebar span_1_of_3">
		<div class="login-title">
           <h2 class="title">Se connecter</h2>
				<div id="loginbox" class="loginbox">
					<form action="" method="post" name="login" id="login-form">
					  <fieldset class="input">
					    <p id="login-form-username">
					      <label for="modlgn_username">Email</label>
					      <input id="modlgn_username" type="text" name="username" class="inputbox" size="18" autocomplete="off">
					    </p>
					    <p id="login-form-password">
					      <label for="modlgn_passwd">Mot de passe</label>
					      <input id="modlgn_passwd" type="password" name="password" class="inputbox" size="18" autocomplete="off">
					    </p>
					    <p id="login-form-remember">
					      <label for="modlgn_remember" class="checkbox">Se souvenir de moi</label>
					      <input id="modlgn_remember" type="checkbox" name="remember" class="checkbox" value="yes" autocomplete="off">
					    </p>
					    <input type="submit" name="Submit" class="button" value="Se connecter maintenant">
						<input type="submit" name="Submit" class="button" value="S'inscrire">
					  </fieldset>
					 </form>
				</div>
		</div>
		<div class="right-box">
				 <div class="right-box-grid">
						<div class="right-box-grid-img">
							<a href="#"><img src="{{ asset('bundles/MyAppProjetFinal/images/pic6.jpg') }}" title="img"></a>
						</div>
						<div class="right-box-grid-info">
							<span>Wedding Ring</span>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed in reprehenderit adipisicing elit,</p>
						</div>
						<div class="clear"> </div>
						<a href="#" class="link2">Read More</a>
						<div class="clear"> </div>
					</div>
					 <div class="right-box-grid">
						<div class="right-box-grid-img">
							<a href="#"><img src="{{ asset('bundles/MyAppProjetFinal/images/pic7.jpg') }}" title="img"></a>
						</div>
						<div class="right-box-grid-info">
							<span>Wedding Flowers</span>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed in reprehenderit adipisicing elit,</p>
						</div>
						<div class="clear"> </div>
						<a href="#" class="link2">Read More</a>
						<div class="clear"> </div>
					</div>
					 <div class="right-box-grid">
						<div class="right-box-grid-img">
							<a href="#"><img src="{{ asset('bundles/MyAppProjetFinal/images/pic8.jpg') }}" title="img"></a>
						</div>
						<div class="right-box-grid-info">
							<span>Wedding Dress</span>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed in reprehenderit adipisicing elit,</p>
						</div>
						<div class="clear"> </div>
						<a href="#" class="link2">Read More</a>
						<div class="clear"> </div>
					</div>
			</div>
			<div class="head">
		   		   <h2>News &amp; Events</h2>
		    </div>
		    <div class="news">
		           		<div class="right-box-grid1">
							<span>02 March 2013</span>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidun Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismodLorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunLorem ipsum dolor sit</p>
							<a href="#" class="link2">Read More</a>
							<div class="clear"> </div>
						</div>
						 <div class="right-box-grid1">
							<span>02 March 2013</span>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidun Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod</p>
							<a href="#" class="link2">Read More</a>
							<div class="clear"> </div>
						</div>
						 <div class="right-box-grid1">
							<span>02 March 2013</span>
							<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunLorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam </p>
							<a href="#" class="link2">Read More</a>
							<div class="clear"> </div>
						</div>
				     </div> 
		</div>
		<div class="cont span_2_of_3">
					<div class="banner-img">
					  <img src="{{ asset('bundles/MyAppProjetFinal/images/banner1.jpg') }}" alt=""/>
					</div>
					<div class="menu">
						 <ul>
							 <li class="active"><a href="index.html">Home</a></li> 
							 <li><a href="about.html">About</a></li>
							 <li><a href="services.html">Services</a></li>
							  <li><a href="gallery.html">Gallery</a></li>
							 <li><a href="contact.html">Contact</a></li>
							 <div class="clear"></div>
						</ul>
					</div>
					<div class="welcome-text">
				       <h4>Welcome....</h4>
				       <h5>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidu</h5>
					   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
					   <a href="#" class="link1">Read More</a>
					</div>
					<div class="heading">
						<h3>Success Stories</h3>
					</div>
			<div class="content-grids">
                            {% block content %}{% endblock  %}
				
			 </div>
			</div>	
			<div class="clear"></div>			
		 </div>
	<div class="footer">
    	<ul class="footermenu">
        	<li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="services.html">Services</a></li>
            <li><a href="gallery.html">Gallery</a></li>
          	<li><a href="contact.html">Contact</a></li>
        </ul>
		<div class="footer-right">
			<div class="copy">
				<p>All rights Reserved | Design by <a href="http://w3layouts.com">W3Layouts</a></p>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>