{% extends 'MyAppProjetFinalBundle::layout.html.twig' %}

{% block content -%}
    <h1>client list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Cin</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Gouvernorat</th>
                <th>Delegation</th>
                <th>Tel</th>
                <th>Adresse</th>
                <th>Password</th>
                <th>Email</th>
                <th>Login</th>
                <th>Datenaissance</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('client_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.cin }}</td>
                <td>{{ entity.nom }}</td>
                <td>{{ entity.prenom }}</td>
                <td>{{ entity.gouvernorat }}</td>
                <td>{{ entity.delegation }}</td>
                <td>{{ entity.tel }}</td>
                <td>{{ entity.adresse }}</td>
                <td>{{ entity.password }}</td>
                <td>{{ entity.email }}</td>
                <td>{{ entity.login }}</td>
                <td>{% if entity.dateNaissance %}{{ entity.dateNaissance|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('client_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('client_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('client_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
